@import "/src/styles/base_styles/settings";
@import "/src/styles/base_styles/typography";
@import "/src/styles/base_styles/inputs";
@import "/src/styles/base_styles/buttons";

.product_info {
  display: flex;
  justify-content: space-between;
  gap: 2.5%;
  padding-bottom: 3rem;
  &.presentation {
    min-height: 63px;
  }
  &.description {
    min-height: 142px;
  }
  &.policy {
    min-height: 225px;
  }
  @include mv(768px) {
    gap: 1rem;
  }
  @include mv {
    gap: 1.4rem;
    flex-direction: column;
    padding-bottom: 1.5rem;
  }
}
