@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body,
textarea,
::placeholder {
  font-family: "Quicksand", sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 1.5rem; // 24pt
}

h2 {
  font-weight: 700;
  font-size: 1.25rem; // 20pt
}

h3 {
  font-weight: 700;
  font-size: 1rem; // 16pt
}

h4 {
  font-weight: 700;
  font-size: 0.875rem; // 14pt
}

h5 {
  font-weight: 500;
  font-size: 0.875rem; // 14pt
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

// text settings
@mixin text($size, $weig: 700) {
  font-weight: $weig;
  font-size: $size;
}

@mixin text1() {
  @include text(0.875rem); // 14
}

@mixin text2() {
  @include text(0.75rem); // 12
}

.title {
  @include text(1.5rem); // 24
}

.subtitle {
  @include text(1.25rem); // 20
}

.text1 {
  @include text(0.875rem); // 14
}

.text2 {
  @include text(0.75rem); // 12
}
