@import "/src/styles/base_styles/settings";
@import "/src/styles/base_styles/typography";
@import "/src/styles/base_styles/buttons";

/* Recomendaciones */
.recommendations_container {
  background-color: $white;
  width: 100%;
  display: flex;
  height: auto;
}

.recommendations_container_header {
  @include mv {
    padding-left: 10px;
  }
}

.recommendations_container_content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1366px;
  padding: 30px 40px;
  width: 100%;
  @include mv(768px) {
    padding: 20px 30px;
    max-width: 768px;
  }
  @include mv(500px) {
    padding: 20px 10px;
  }
  @include mv {
    padding: 30px 10px;
    max-width: 600px;
  }
}

.recommendations_cards_container {
  justify-content: center;
  border-radius: 10px;
  gap: 15px;
  padding: 10px 0;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 2rem;
}

.recommendations_card_container {
  background-color: $bgColor;
  display: flex;
  flex-direction: row;
  gap: 14px;
  width: 635px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px #00000040;
  @include mv(768px) {
    width: 710px;
    height: 279px;
    max-width: 100%;
  }
  @include mv {
    width: 393px;
    flex-direction: column;
    height: 491px;
    padding-bottom: 0.3rem;
    max-width: 100%;
    flex: 45%;
  }
}

.recommendations_card_image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  height: 283px;
  width: 311px;
  max-width: 100%;
  @include mv(768px) {
    height: 260px;
    width: 344px;
    border-radius: 0px 10px 10px 0;
    margin: 0.5rem 0;
  }
  @include mv {
    height: 231px;
    width: 393px;
    max-width: 100%;
    border-radius: 0px 0px 10px 10px;
    margin: 0;
  }
}

.icon_heart {
  color: $bgColor;
  width: 21px;
  height: 19px;
  position: relative;
  top: 22px;
  left: 276px;
  @include mv(768px) {
    top: 15px;
    left: 310px;
  }
  @include mv {
    left: 360px;
  }
}

.recommendations_card_info {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 296px;
  justify-content: space-around;
  @include mv(768px) {
    max-width: 331px;
  }
  @include mv(600px) {
    align-self: center;
    align-items: stretch;
    width: 362px;
    height: 260px;
    max-width: 100%;
  }
  @include mv(390px) {
    padding: 0 0.5rem;
  }
}

.recommendations_card_location {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include mv(768px) {
    justify-content: flex-start;
  }
}

.recommendations_card_location_details {
  display: flex;
  flex-direction: row;
  & h5 {
    font-weight: 500;
    padding-left: 0.3rem;
  }
}

.recommendations_card_icons {
  padding-right: 0.25rem;
}

.recommendations_card_location_map {
  @include text(0.875rem, 500);
  color: $main;
  padding-left: 0.1rem;
  @include mv(768px) {
    padding-left: 0.5rem;
    font-weight: 500;
  }
}

.recommendations_card_location_container {
  svg:not(svg:first-child) {
    @include mv() {
      display: none;
    }
  }
}

.recommendations_card_header {
  display: flex;
  justify-content: space-between;
  &_category {
    display: flex;
    flex-direction: row;
    align-items: center;
    &_text {
      color: $dark;
      opacity: 0.5;
      font-weight: 700;
    }
  }
}

.recommendations_card_header_new {
  align-items: center;
  color: $dark;
  display: flex;
  flex-direction: row;
  padding-left: 0.5rem;
  .new_text {
    color: $dark;
    font-weight: 700;
  }
}

.recommendations_card_container_points {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

.recommendations_card_points {
  text-align: center;
  background-color: $dark;
  color: $white;
  border-radius: 10px;
  height: 27px;
  width: 34px;
  font-size: 1.25rem;
  font-weight: 700;
  @include mv(768px) {
    margin-right: 1rem;
  }
  @include mv {
    margin-right: 0rem;
  }
}

.recommendations_card_text {
  width: 290px;
  max-width: 290px;
  @include mv(768px) {
    width: 331px;
    max-width: 331px;
    max-width: 100%;
  }
  @include mv {
    width: 366px;
    max-width: 100%;
  }
  a:link,
  a:visited,
  a:active {
    color: $main;
    font-size: 0.875rem;
    font-weight: 500;
  }
}

$lh: 0.8rem;
// h5
.recommendations_card_text_content {
  --max-lines: 4;
  position: relative;
  max-height: calc($lh * var(--max-lines));
  overflow: hidden;
  // padding-right: 2rem; /* space for ellipsis */
  ::before {
    position: absolute;
    content: "...";
    bottom: 0;
    right: 0;
  }
  ::after {
    position: absolute;
    content: "";
    right: 0;
    width: 1rem;
    height: 1rem;
    background: $main;
  }
  @include mv(768px) {
  }
  @include mv {
    --max-lines: 6;
  }
}

.star {
  padding: 0 0.12rem;
}

.recommendations_card_opinion {
  @include mv(768px) {
    margin-right: 1rem;
  }
  @include mv {
    margin-right: 0rem;
  }
}

.recommendations_card_button {
  max-width: 100%;
  margin-right: 1rem;
  @include mv {
    margin-right: 0rem;
  }
}
