@import "/src/styles/base_styles/settings";
@import "/src/styles/base_styles/typography";
@import "/src/styles/base_styles/inputs";
@import "/src/styles/base_styles/buttons";

/* Login */
.loginAlert_container {
  background-color:
  rgba(255, 0, 0, 0.1);
  color: #B00020;
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  width: 448px;
  padding: 20px;
  gap: 7px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 0.875rem;
  align-items: center;
  @include mv(768px) {
    width: 346px;
    font-weight: 500;
    font-size: 12px;
    gap: 14px;
    }
    @include mv() {
      width: 300px;
      }  
}
