@import "/src/styles/base_styles/settings";
@import "/src/styles/base_styles/typography";

.reservation {
  &.rdp {
    --rdp-cell-size: 36px;
    --rdp-accent-color: #078930;
    --rdp-background-color: #e7edff;
    /* Switch to dark colors for dark themes */
    --rdp-accent-color-dark: #e10a03af;
    // --rdp-background-color-dark: #180270;
    /* Outline border for focused elements */
    // --rdp-outline: 2px solid var(--rdp-accent-color);
    /* Outline border for focused and selected elements */
    --rdp-outline-selected: 1px solid rgba(0, 0, 0, 0.75);
    margin: 0.2em;
  }
}

.dateRangePicker_container {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  font-size: 0.75rem;
  height: 297px;
  justify-content: center;
  max-width: 848px;
  padding: 0.5rem;
  position: relative;
  width: 100%;
  @include mv(768px) {
    width: 100%;
    border-radius: 0 0 0.5rem 0.5rem;
  }
  @include mv {
    max-width: 394px;
  }
}

.dateRangePicker_vertical_divider {
  position: absolute;
  width: 1px;
  background-color: #a8a8a8;
  height: 267px;
  left: 50%;
  top: 5.39%;
  bottom: 5.39%;
  @include mv {
    display: none;
  }
}

.dateRangePicker_container_reservation {
  width: 848px;
  height: 297px;
  background-color: white;
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 0.7rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  @include mv(768px) {
    width: 707px;
    border-radius: 0 0 0.5rem 0.5rem;
  }
  @include mv {
    max-width: 394px;
  }
}

.reservation {
  .rdp-months {
    gap: 50px;
    @include mv(1200px) {
      gap: 10px;
    }
    @include mv(850px) {
      gap: 0px;
    }
    @include mv(768px) {
      gap: 60px;
    }
    @include mv() {
      gap: 0;
    }
  }
  .rdp-caption {
    text-transform: capitalize;
  }
}

.reservation {
  &.rdp-multiple_months .rdp-caption_start .rdp-nav {
    top: 130px;
    left: -112px;
    background-color: $main;
    color: $white;
    width: 36px;
    height: 36px;
    border-radius: 1.5rem;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12),
      0px 1px 3px rgba(0, 0, 0, 0.2);
    :hover {
      background-color: $white;
      color: $main;
    }
    @include mv(1320px) {
      left: -62px;
    }
    @include mv(1120px) {
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      background-color: initial;
      color: initial;
      border-radius: 0;
      box-shadow: none;
      :hover {
        background-color: initial;
        color: initial;
      }
    }
  }
}

.reservation {
  &.rdp-multiple_months .rdp-caption_end .rdp-nav {
    top: 130px;
    left: 328px;
    background-color: $main;
    color: $white;
    width: 36px;
    height: 36px;
    border-radius: 1.5rem;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12),
      0px 1px 3px rgba(0, 0, 0, 0.2);
    :hover {
      background-color: $white;
      color: $main;
    }
    @include mv(1320px) {
      left: 280px;
    }
    @include mv(1120px) {
      top: 50%;
      right: 0;
      left: initial;
      transform: translateY(-50%);
      background-color: initial;
      color: initial;
      border-radius: 0;
      box-shadow: none;
      :hover {
        background-color: initial;
        color: initial;
      }
    }
  }
}
